<div class='nested-fields'>
  <div class='row'>
    <div class="col">
      <div class="form-group">
        <%= f.label :scheduled_at %>
        <%= f.select :scheduled_at, f.object.assignment.options_for_select, { prompt: 'Select a day' }, { class: 'form-control' } %>
      </div>
    <%= link_to_remove_association "Remove schedule", f, class: 'btn btn-sm btn-danger' %>
    </div>
    <div class="col">
      <div class="quota">
        <%= f.fields_for :quota do |quota_form| %>
          <%= render 'quotum_fields', f: quota_form %>
        <% end %>
        <%= link_to_add_association 'Add quotum', f, :quota, class: 'btn btn-sm btn-dark float-right' %>
      </div>
    </div>
  </div>
</div>